<style lang="scss" scoped>
	
</style>
<template>
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">Login</div>
				<div class="card-body">
					<form>
						<div class="form-group row">
							<label for="email" class="col-sm-4 col-form-label text-md-right">Email address</label>
							<div class="col-md-6">
								<input type="email" name="email" class="form-control">
								<span class="invalid-feedback" role="alert"></span>
							</div>
						</div>
						<div class="form-group row">
							<label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
							<div class="col-md-6">
								<input type="password" name="password" class="form-control">
								<span class="invalid-feedback" role="alert"></span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
	}
</script>