<style lang="scss" scoped>
	.faded {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
	}

	@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
	}

	/* Firefox < 16 */
	@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
	}

	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
	}

	/* Internet Explorer */
	@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
	}

	/* Opera < 12.1 */
	@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
	}

	.btn-outline-primary {
		border: 2px solid;
	}

	.gradient {
		background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
		background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
	}

	.gradient:hover, .gradient:focus, .gradient:active, .gradient.active, .open > .dropdown-toggle {
		background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
		background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
	}

	.gradient:active, .gradient.active {
		background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
		background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
	}

	.raised {
		box-shadow: 0 3px 0 0 #007299;
	}

	.raised:active, .raised.active {
		background: #33a6cc;
		box-shadow: none;
		margin-bottom: -3px;
		margin-top: 3px;
	}
</style>
<template>
	<div class="faded">
		<div class="row">
			<div class="col-sm-7 col-lg-7 col-xl-7">
				<div class="jumbotron">
					<h1>This is a root page</h1>
					<p>Made with love who doesn't need to say so</p>
				</div>
			</div>
			<div class="col-sm-5 col-lg-5 col-xl-5">
				<div class="jumbotron">
					<h1>This is a side bar</h1>
					<button class="btn btn-outline-primary btn-lg">Im outline button</button>
					<button class="btn btn-primary btn-lg gradient">Im gradient button</button>
					<br>
					<div class="pt-2"></div>
					<button class="btn btn-primary btn-lg raised">Im raised button</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		mounted(){
			console.log('component mounted');
		}
	}
</script>